<h2 class="text-center" data-translate="kpicsApp.studentOverview.title">Student skills</h2>
    <div class="container">

    <!-- =========================== BODY-HEADER LEFT PART ============================ -->
        <div class="col-sm-3 mainleft">
            <!-- ======================  NAME & AVATAR  ================================ -->
            <div class="row mobmid">
                <h2 align="middle">{{vm.studentInfo.lastName}}  {{vm.studentInfo.firstName}}</h2>
                <div><img class="img-polaroid" src="{{vm.studentInfo.avatar}}" ng-style="{width: '100%'}"></div>
                <div class="row">
                    <div class="col-ms-1 col-md-2 mobmid"><span /></div>
                    <!--icon end-->
                </div>
                <!-- ======================  NAME & AVATAR  END ================================ -->
                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid" data-translate="kpicsApp.studentOverview.programmingSkills">Programming skills</h3>
                    <div ng-repeat="track in vm.studentInfo.tracks">
                        <!-- ======================  MARKS DIAGRAM   ================================ -->
                        <p>{{track.name}}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{track.mark}}"
                                 aria-valuemin="0" aria-valuemax="100" ng-style="{width:'{{track.mark}}%'}">
                                <span class="sr-only">{{track.mark}} Complete</span>
                            </div>
                        </div>
                        <!-- ======================  MARKS DIAGRAM END  ================================ -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================  BODY-HEADER RIGHT PART ================================ -->
        <div class="col-sm-offset-1  col-sm-8 mainright">
            <div class="row">
                <div ng-repeat="track in vm.studentInfo.tracks">
                    <div class="col-sm-5">

                            <h4>{{track.name}}  ({{track.academicYearStarted}}-{{track.academicYearEnded}})</h4>
                            <blockquote>
                                <div ng-repeat="level in track.skills">
                                <!-- ====================== LEVEL MARKS DIAGRAM   ================================ -->
                                        <p>{{level.name}}</p>
                                        <div class="progress" title="{{level.description}}">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{level.mark}}"
                                                 aria-valuemin="0" aria-valuemax="100" ng-style="{width:'{{level.mark}}%'}">
                                                <span class="sr-only">{{level.mark}} Complete</span>
                                            </div>
                                        </div>
                                </div>
                            </blockquote>

                    </div>
                </div>
            </div>
        </div>
    </div>

<h3 data-translate="kpicsApp.studentOverview.description">Description</h3>
<p>{{vm.studentInfo.about}}</p>

<h3 data-translate="kpicsApp.studentOverview.projects">My Projects</h3>

<a href="https://github.com/">Link1</a>
<a href="https://github.com/">Link2</a>

<h3 data-translate="kpicsApp.studentOverview.linkedin">My LinkedIn</h3>
<a href="https://www.linkedin.com/">https://www.linkedin.com/</a>

