<div>
    <h2 data-translate="kpicsApp.idea.home.title">Ideas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="idea.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="kpicsApp.idea.home.createLabel">
                        Create new Idea
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span data-translate="kpicsApp.idea.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="kpicsApp.idea.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deadlineDate"><span data-translate="kpicsApp.idea.deadlineDate">Deadline Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span data-translate="kpicsApp.idea.companyName">Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="idea in vm.ideas track by idea.id">
                    <td>{{idea.name}}</td>
                    <td>{{idea.createDate | date:'mediumDate'}}</td>
                    <td>{{idea.deadlineDate | date:'mediumDate'}}</td>
                    <td>{{idea.companyName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ng-hide="idea.isIdeaHasPM"
                                    ui-sref="idea.pmconfirm({id:idea.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.projectManager"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="idea-detail({id:idea.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="idea.edit({id:idea.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="idea.delete({id:idea.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
