
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTrackLabel">Create Subject</h4><!--TODO: add locale-->
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <!--Name-->
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.subject.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <!--Teacher-->
        <div class="form-group">
            <label class="control-label" for="field_teacher">Teacher</label>
            <select class="form-control" name="teacher" id="field_teacher" ng-model="vm.subject.teacherId" required>
                <option ng-repeat="teacher in vm.track.teachers" value="{{teacher.id}}">
                    {{teacher.firstName}} {{teacher.lastName}}
                </option>
            </select>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <!--Semester-->
        <div class="form-group">
            <label class="control-label" for="field_semester">Semester</label>
            <select class="form-control" name="teacher" id="field_semester" ng-model="vm.subject.semester" required>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
