
<form name="searchForm" role="form" novalidate show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button><!--Add localization-->
        <h4 class="modal-title" id="myTrackLabel">Add Teacher to track {{vm.track.name}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <!--Query-->
        <div class="form-group">
            <label class="control-label" for="field_name">Search</label>
            <input ng-model="vm.query" type="text" class="form-control" name="name" id="field_name" required/>
        </div>

        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="name"><span data-translate="global.form.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="surname"><span data-translate="global.form.surname">Surname</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="global.form.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="faculty"><span>Faculty</span> <span class="glyphicon glyphicon-sort"></span></th><!--TODO: add locale-->
                <th jh-sort-by="department"><span>Department</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacherInfo in vm.teachers track by teacherInfo.id">
                <td>{{teacherInfo.firstName}}</td>
                <td>{{teacherInfo.lastName}}</td>
                <td>{{teacherInfo.email}}</td>
                <td>{{teacherInfo.faculty}}</td>
                <td>{{teacherInfo.department}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ng-show="vm.track.teachers.indexOf(teacherInfo.userId) == -1"
                                ng-click="vm.addTeacher(teacherInfo.userId)"
                                class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm-down">Add</span>
                        </button>
                        <button ng-show="vm.track.teachers.indexOf(teacherInfo.userId) != -1"
                                type="submit" class="btn btn-success btn-sm" disabled="disabled">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="hidden-sm-down">Added</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="searchForm.$invalid || vm.isSaving" ng-click="vm.search()" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>&nbsp;Search
        </button>
    </div>
</form>
