
<div>
    <h2><span data-translate="kpicsApp.stream.detail.title">Stream</span> {{vm.stream.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="kpicsApp.stream.name">Name</span></dt>
        <dd>
            <span>{{vm.stream.name}}</span>
        </dd>

        <dt><span data-translate="kpicsApp.stream.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.stream.startDate | date:'mediumDate'}}</span>
        </dd>

        <dt><span data-translate="kpicsApp.stream.endDate">End Date</span></dt>
        <dd>
            <span>{{vm.stream.endDate | date:'mediumDate'}}</span>
        </dd>

        <dt><span data-translate="kpicsApp.stream.description">Description</span></dt>
        <dd>
            <span>{{vm.stream.description}}</span>
        </dd>

            <div class="row">


            <div class="col-md-12" style="" contenteditable="false">
                <div class="panel panel-default target">
                    <div class="panel-heading" contenteditable="false">
                        Tracks

                        <div class="col-md-2 pull-right">
                            <button class="btn btn-primary btn-xs" ui-sref="stream-detail.newTrack({id:vm.stream.id})" >
                                <span class="glyphicon glyphicon-plus"></span>
                                Add<!--TODO: add locale-->
                            </button>
                        </div>


                    </div>

                    <div class="panel-body" ng-show="!vm.stream.tracks.length">
                        <p>No tracks</p>
                    </div>

                    <div class="panel-body">
                        <div class="row"ng-repeat="trackInfo in vm.stream.tracks track by trackInfo.id">
                            <div class="col-md-12">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h3>{{trackInfo.name}}</h3>
                                            </div>

                                            <div class="col-md-2 col-md-offset-8" ng-show="!trackInfo.subjects.length">
                                                <button class="btn btn-danger btn-sm"
                                                        ui-sref="stream-detail.deleteTrack({id: vm.stream.id, trackId: trackInfo.id})">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                    Delete<!--TODO: add locale-->
                                                </button>
                                            </div>
                                        </div>

                                        <hr/>

                                        <h4>Teachers:</h4>

                                        <div class="pull-right">
                                            <button class="btn btn-success btn-sm" ui-sref="stream-detail.addTeacher({trackId:trackInfo.id})">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                Add Teacher<!--TODO: add locale-->
                                            </button>
                                        </div>

                                        <!--Teachers-->
                                        <table class="jh-table table">
                                            <thead>
                                            <tr jh-sort="vm.predicate" ascending="vm.reverse">
                                                <!--TODO:add localization-->
                                                <th jh-sort-by="fname">Name<span class="glyphicon glyphicon-sort"></span></th>
                                                <th jh-sort-by="fname">Faculty<span class="glyphicon glyphicon-sort"></span></th>
                                                <th jh-sort-by="fname">Department<span class="glyphicon glyphicon-sort"></span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="teacher in trackInfo.teachers track by teacher.id">
                                                <td>{{teacher.firstName}} {{teacher.lastName}}</td>
                                                <td>{{teacher.faculty}}</td>
                                                <td>{{teacher.department}}</td>
                                                <td class="text-right">
                                                    <!--Add button-->
                                                </td>
                                            </tr>
                                            <tr ng-show="!trackInfo.teachers.length">
                                                <td>
                                                    <p>No teachers</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!--Subjects-->
                                        <div class="row">
                                            <div class="col-md-12" style="" contenteditable="false">
                                                <div class="panel panel-default target">
                                                    <div class="panel-heading" contenteditable="false">
                                                        Subjects

                                                        <div class="col-md-2 pull-right">
                                                            <button class="btn btn-success btn-xs" ng-show="trackInfo.teachers.length"
                                                                    ui-sref="stream-detail.addSubject({trackId:trackInfo.id})">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                Add<!--TODO: add locale-->
                                                            </button>
                                                            <button class="btn btn-success btn-xs" disabled="disabled" ng-show="!trackInfo.teachers.length">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                                Add<!--TODO: add locale-->
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="panel-body" ng-show="!trackInfo.subjects.length">
                                                        <p>No subjects</p>
                                                    </div>

                                                    <div class="panel-body">
                                                        <div class="row" ng-repeat="subject in trackInfo.subjects track by subject.id">
                                                            <div class="col-md-12">
                                                                <div class="thumbnail">
                                                                    <div class="caption">
                                                                        <h3>{{subject.name}}</h3>
                                                                        <hr/>
                                                                        <p>Teacher: {{vm.getTeacher(trackInfo.teachers, subject.teacherId).firstName}} {{vm.getTeacher(trackInfo.teachers, subject.teacherId).lastName}}</p>
                                                                        <p>Semester: {{subject.semester}}</p>
                                                                        <div class="btn-group flex-btn-group-container">
                                                                            <!--Add button-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!--Add edit button-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            </div>

        <dt></dt>
        <dd>



        </dd>

    </dl>

    <button type="submit"
            ui-sref="stream"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="stream-detail.edit({id:vm.stream.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
